// Utils | Repeatable:
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  width: 100%;
  overflow-x: hidden;
  @supports not (-moz-appearance: none) {
    scroll-behavior: smooth;
  }
}
h1,
.h1 {
  font-size: rem(56px);
  line-height: 1;
  letter-spacing: -0.03em;
}
h2,
.h2 {
  font-size: rem(42px);
  line-height: 1.1;
  letter-spacing: -0.07em;
}
h3,
.h3 {
  font-size: rem(32px);
  line-height: 1.3;
  letter-spacing: -0.03em;
}
h4,
.h4 {
  font-size: rem(26px);
  line-height: 1.5;
  letter-spacing: -0.03em;
}
h5,
.h5 {
  font-size: rem(22px);
  line-height: 1.7;
  letter-spacing: -0.03em;
}
.credits {
  font-size: rem(12px);
  line-height: 2;
  letter-spacing: 0.03em;
  padding: rem(15px) 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Archivo", sans-serif;
  font-size: rem(18px);
  font-weight: 400;
  line-height: 1.7;
  color: $lightGreen;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

a,
button {
  color: inherit;
  outline: none;
}

.button {
  padding: rem(10px) rem(75px);
  border-radius: 10px;
  transition: 0.5s;
  color: #fff;
  border: 2px solid #fff;
  &:hover {
    -webkit-box-shadow: 0 0 28px 0px rgba(2, 214, 53, 1);
  -moz-box-shadow: 0 0 28px 0px rgba(2, 214, 53, 1);
  box-shadow: 0 0 28px 0px rgba(2, 214, 53, 1);
    color: $lightGreen;
    border: 2px solid $lightGreen;
    transition: 0.5s;
    transform: scale(1.1);
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 1rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.fullwidth {
  width: 100%;
}

.hide-small {
  display: none;

  @include desktop {
    display: block;
  }
}

.hide-tablet {
  @include tablet {
    display: none;
  }
}

.hide-until-tablet {
  display: none;

  @include tablet {
    display: initial;
  }
}

.hide-large {
  @include desktop {
    display: none;
  }
}
